<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="common">
        <!-- 로그인 상태 일때 -->
        <th block th:if="${@utils.isLogin()}">
            <span th:text="${#messages.msg('LOGIN_MSG', session.member.userNm, session.member.userId)}"></span>
            <a th:href="@{/mypage}" th:text="#{마이페이지}"></a>
            <a th:href="@{/member/logout}" th:text="#{로그아웃}"></a>

        </th>
        <!-- 로그인 상태 X -->
        <th block th:unless="${@utils.isLogin()}">
            <a th:href="@{/member/join}" th:text="#{회원가입}"></a>
            <a th:href="@{/member/login}" th:text="#{로그인}"></a>
        </th>
    </header>
</html>